/* _____________________________________

   01. General Styles
   _____________________________________ */

body {
    background-image: url(../images/home-bg.png);
    position: relative;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    color: #333;
}

:root {
    --primary-color: #ed1c26;
}


/* _____________________________________

   02. Typography
   _____________________________________ */

strong,
b {
    font-weight: 700;
}

.font-weight-200 {
    font-weight: 200;
}

.wrap-line {
    margin: 20px 0 50px 0;
    position: relative;
}

.wrap-line:before {
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    margin-left: -20px;
    content: "";
    border-bottom: 1px solid;
}


/* ----------------------------------
   Icons
   ---------------------------------- */

.icon {
    line-height: 1;
}

.icon:before {
    vertical-align: bottom;
}

.icon-sm {
    font-size: 24px;
}

.icon-lg {
    font-size: 34px;
}


/* ----------------------------------
   Font Colors
   ---------------------------------- */

.text-color {
    color: #00ACC1;
}

.text-white {
    color: #fff;
}

.text-light {
    color: #aaa;
}

.text-grey {
    color: #444;
}


/* _____________________________________

   03. Backgrounds
   _____________________________________ */

.bg-color {
    background-color: #00ACC1;
}

.bg-white {
    background-color: #fff;
}

.bg-white-09 {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-black {
    background-color: #000;
}

.bg-solid-color {
    background-color: #1f64c5;
}

.bg-dark {
    background-color: #333;
}

.bg-light {
    background-color: #aaa;
}

.bg-bubble-color {
    background-color: #00457c
}

.bg-square-color {
    background-color: #5E35B1;
}


/* _____________________________________

   04. Buttons, Links
   _____________________________________ */

a {
    color: #333;
    text-decoration: none;
}

a>i {
    margin: 0 7px;
}

a:hover,
a:active,
a:focus {
    color: #000;
    text-decoration: underline;
    outline: none;
}

a.link-white,
a.link-white:hover,
a.link-white:active,
a.link-white:focus {
    color: #fff;
}

a.link-light,
a.link-light:hover,
a.link-light:active,
a.link-light:focus {
    color: #fff;
}

.btn-row {
    margin-left: -5px;
    margin-right: -5px;
}

.btn,
a.btn {
    display: inline-block;
    margin: 0 5px;
    padding: 14px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 0;
    transition: background .3s ease-in-out;
}

.btn i {
    margin-right: 15px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.input-group-btn:last-child>.btn {
    margin: 0 !important;
    padding: 12px 13px 13px 13px;
    line-height: 1.392;
    border: none;
}

.input-group-btn:last-child>.btn i,
.input-group-btn:last-child>.btn-group i {
    margin: 0 !important;
}


/* ----------------------------------
   Button Dark
   ---------------------------------- */

.btn.btn-dark,
a.btn.btn-dark {
    color: #fff;
    background-color: #333;
}

.btn.btn-dark:hover,
a.btn.btn-dark:hover,
.btn.btn-dark:active,
a.btn.btn-dark:active,
.btn.btn-dark:focus,
a.btn.btn-dark:focus {
    color: #fff;
    background-color: #000;
    box-shadow: none;
}


/* ----------------------------------
   Button Color
   ---------------------------------- */

.btn-color,
a.btn-color {
    color: #fff;
    background-color: #00ACC1;
}

.btn.btn-color:hover,
.btn.btn-color:active,
.btn.btn-color:focus,
a.btn.btn-color:hover,
a.btn.btn-color:active,
a.btn.btn-color:focus {
    color: #fff;
    background-color: #0097A7;
}


/* ----------------------------------
   Button White
   ---------------------------------- */

.btn-white,
a.btn-white {
    color: #333;
    background-color: #fff;
}

.btn.btn-white:hover,
.btn.btn-white:active,
.btn.btn-white:focus,
a.btn.btn-white:hover,
a.btn.btn-white:active,
a.btn.btn-white:focus {
    color: #333;
    background-color: #fff;
}


/* ----------------------------------
   Button Border White
   ---------------------------------- */

.btn.btn-border-white,
a.btn.btn-border-white {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn.btn-border-white:hover,
.btn.btn-border-white:active,
.btn.btn-border-white:focus,
a.btn.btn-border-white:hover,
a.btn.btn-border-white:active,
a.btn.btn-border-white:focus {
    color: #333;
    background-color: #fff;
    border: 1px solid #fff;
}


/* _____________________________________

   05. Forms
   _____________________________________ */

.form-control {
    height: 50px;
    padding: 15px 0 13px 0;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    background-color: transparent;
    color: #333;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    appearance: none;
    outline: 0;
}

.form-control::placeholder {
    text-transform: uppercase;
}

.form-control-custom {
    border: 0;
    height: 2px;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control:focus {
    border-color: #333;
    box-shadow: none;
    outline: none;
}

textarea.form-control {
    overflow: hidden;
    display: block;
    resize: none;
}

.form-group {
    margin-bottom: 25px;
}

.form-group,
.input-group {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    transition: width .5s ease-in-out;
}

.focus.form-group,
.focus.input-group {
    width: 100%;
}

input:focus::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}


/* ----------------------------------
   Input Light
   ---------------------------------- */

.form-control.form-control-light {
    color: #aaa;
    border-color: #aaa;
}

.form-control.form-control-light:-moz-placeholder {
    color: #aaa;
}

.form-control.form-control-light::-moz-placeholder {
    color: #aaa;
}

.form-control.form-control-light:-ms-input-placeholder {
    color: #aaa;
}

.form-control.form-control-light::-webkit-input-placeholder {
    color: #aaa;
}


/* ----------------------------------
   Input Dark
   ---------------------------------- */

.form-control.form-control-dark {
    color: #333;
    border-color: #333;
}

.form-control.form-control-dark:-moz-placeholder {
    color: #333;
}

.form-control.form-control-dark::-moz-placeholder {
    color: #333;
}

.form-control.form-control-dark:-ms-input-placeholder {
    color: #333;
}

.form-control.form-control-dark::-webkit-input-placeholder {
    color: #333;
}


/* ----------------------------------
   Alert Placeholder
   ---------------------------------- */

.error .form-control:-moz-placeholder {
    color: #c0392b;
}

.error .form-control::-moz-placeholder {
    color: #c0392b;
}

.error .form-control:-ms-input-placeholder {
    color: #c0392b;
}

.error .form-control::-webkit-input-placeholder {
    color: #c0392b;
}

.error .form-control {
    color: #c0392b;
}


/* ----------------------------------
   Validation Message
   ---------------------------------- */

.appointment .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.appointment .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.appointment .php-email-form .error-message br+br {
    margin-top: 25px;
}

.appointment .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.appointment .php-email-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
}

.appointment .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#message-contact,
#message-newsletter {
    display: none;
}

.message-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
}

.map+.message-wrapper {
    bottom: 400px;
}

.message-wrapper.fixed {
    position: fixed;
}

.message {
    padding: 15px;
    background-color: #333;
}

.error.message {
    background-color: #c0392b;
}

.message {
    background-color: #2E7D32;
}

label.message-text {
    margin-bottom: 0;
}

.message-text {
    margin-left: 15px;
    font-weight: 400;
}


/* _____________________________________

   06. Spacing, Alignment, Helperclasses
   _____________________________________ */

.vert-middle {
    min-height: 700px;
    height: 100%;
    align-items: center;
    display: flex;
}

.vert-middle>div {
    width: 100%;
    vertical-align: middle;
}

.p-t-b-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-t-b-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-t-b-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-t-b-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-t-b-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-t-b-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-t-30 {
    padding-top: 30px;
}

.arrow-wrapper {
    padding: 30px;
}


/* ----------------------------------
   Navbar
   ---------------------------------- */

.navbar-wrapper {
    align-items: center;
    margin: auto;
}

.logo img {
    width: 200px;
    padding: 1em 0em;
}

.navbar-button {
    position: relative;
    float: right;
    border-radius: 5px;
    padding: 10px 20px;
    top: 20px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.primary-color {
    color: var(--primary-color);
}

.hello-word {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 62px;
    text-transform: capitalize;
}

.site-description img {
    width: 85%;
}

.site-description p {
    margin-left: 20px;
}

.big-text {
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 800;
}

@media only screen and (max-width: 540px) {
    .left-side {
        margin-top: 50px;
        text-align: center;
    }
    .logo img {
        width: 200px;
        padding: 1em 0em;
    }
    .count-down h1 {
        background-color: transparent;
        margin: 10px;
    }
    .navbar {
        background-color: #303030;
    }
    .big-text {
        font-size: 55px;
    }
    .count-down>div>div {
        display: inline-block;
        /* padding: 0 30px; */
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #ed1c26;
        margin: 30px;
    }
}


/* _____________________________________

   08. Backgrounds
   _____________________________________ */

.section-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    min-height: 700px;
    width: 100%;
    z-index: -100;
}

.page-amplitude-wrapper+.section-overlay,
#page-particle+.section-overlay {
    z-index: 0;
}

.section-overlay.youtube {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
}

.section-overlay.media {
    z-index: -250;
}

.section-overlay img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.overlay-opacity {
    filter: alpha(opacity=50);
    opacity: 0.3;
}

.overlay-opacity-2 {
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.overlay-opacity-3 {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.page-image {
    background: url("../images/page-image.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.page-image-min {
    background: url("../images/page-image-2.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.page-image-ripple {
    background: url("../images/page-image-3.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.page-image-full {
    background: url("../images/page-image-4.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.page-image-bw {
    background: url("../images/page-image-bw.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 700px;
}

.page-slide {
    height: 100vh;
    width: 100%;
    min-height: 700px;
}

.page-slide-1 {
    background: url("../images/page-slide-1.jpg") no-repeat center center;
    background-size: cover;
}

.page-slide-2 {
    background: url("../images/page-slide-2.jpg") no-repeat center center;
    background-size: cover;
}

.page-slide-3 {
    background: url("../images/page-slide-3.jpg") no-repeat center center;
    background-size: cover;
}

body.vegas-container>.vegas-timer,
body.vegas-container>.vegas-overlay,
body.vegas-container>.vegas-slide {
    z-index: -800;
}

.page-amplitude-wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    min-height: 700px;
    width: 100%;
    display: table;
    z-index: -250;
}

.page-amplitude {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
}


/* _____________________________________

   09. Preloader
   _____________________________________ */

.loader {
    position: fixed;
    z-index: 1200;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: opacity 1s linear;
}

.fade-out.loader {
    opacity: 0;
}

.fade-out .loader-inner {
    display: none;
}

.ball-scale-ripple-multiple-color>div {
    border-color: #00ACC1;
}

.ball-scale-ripple-multiple-bw>div {
    border-color: #fff;
}

.ball-pulse-sync>div,
.ball-pulse>div {
    width: 10px;
    height: 10px;
    margin: 5px;
}


/* _____________________________________

   10. Modal
   _____________________________________ */

.button-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.button-control {
    float: left;
    margin: 15px 5px;
    padding: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    line-height: 1;
    border: 0;
    cursor: pointer;
    z-index: 100;
}

.modal.modal-scale.fade .modal-dialog {
    display: table;
    height: 100%;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    transform-origin: center;
    margin: 0 auto;
    opacity: 0.1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.modal.modal-scale .modal-dialog>div {
    display: table-cell;
    vertical-align: middle;
}

.modal.modal-scale.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.modal-content {
    padding: 50px 80px;
    border-radius: 0;
    border: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: .2
}


/* Side menu */

.menu-slider {
    height: 100vh;
}


/* _____________________________________

   11. Count Down
   _____________________________________ */

.countdown {
    margin-left: 20px;
}

.count-down h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
}

.count-down p {
    font-size: 14px;
    font-weight: 200;
    margin: 0px;
    text-align: center;
}

.count-down>div>div {
    display: inline-block;
    /* padding: 0 30px; */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ed1c26;
    margin: 10px;
}

.social-link a {
    font-size: 30px;
    margin: 0 5px;
}

.count-down>.cd-row {
    display: inline-block;
}


/* _____________________________________

   12. Gallery
   _____________________________________ */

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.img-hover-effect {
    position: relative;
    overflow: hidden;
}

.img-hover-effect img {
    max-width: 100%;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 2s ease;
}

.img-hover-effect:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.img-hover-effect .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.25;
    transition: opacity 0.3s ease-in-out;
}

.img-hover-effect:hover .img-overlay {
    opacity: 0;
}

.img-hover-effect .img-title {
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 100%;
    left: 50%;
    padding: 5px 8px;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    border: 1px solid #fff;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.img-hover-effect:hover .img-title {
    opacity: 1;
    top: 50%;
}

.gallery .img-description {
    display: none;
}


/* _____________________________________

   13. Misc
   _____________________________________ */

.page-info {
    min-height: 700px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sr .reveal {
    visibility: hidden;
}

.map>div {
    width: 100%;
    height: 400px;
}

.map h4,
.map h5 {
    margin-top: 0;
}